@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
:root{
    --oxford-blue : #14213D;
    --Orange :#FCA311;
    --Platinum:#E5E5E5;
}

.body-principal {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    background-image: url(../imagenes/fondo2.jpg);
    background-attachment: fixed;
    background-size: cover;
}
body{
    text-decoration: none;
}
header{
    width: 100%;
    width: 100%;
    background-color: var(--oxford-blue);
    color: white;
}

.nav-arriba, .menu{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.nav-arriba{
    justify-content: space-between;
    background-color: var(--oxford-blue);
}
.Icono{
    flex:1;
    transition: transform 1s;
}

header img:hover{
    transform: scale(1.1);
}
.logo{
    height: 60px;
}
header .buscador{
    flex:2;
    text-align: center;
}
.buscador input{
    width: 40%;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.Iconos-sesion a span{
    font-size: 2.5rem;
    color: white;
}
.Iconos-sesion a span:hover{
    color:wheat;
}
/*Segundo nivel de nagevacion*/
.menu{
    width: 100%;
    justify-content: center;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.menu ul li{
    margin: 0 15px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: background-color 0.3s;
}
.menu ul li a:hover{
    background-color: #575757;
    border-radius: 5px;
}


.imagen-publicitaria {
    width: 100%;
    margin-top: 40px;
    height: auto;
    display: block;
    pointer-events: none;
}

.wpp-boton i {
    background-color: #0df053;
    color: #fff;
    position: fixed;
    font-size: 40px;
    line-height: 55px;
    bottom: 15px;
    left: 7px;
    z-index: 100;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wpp-boton i:hover {
    color: #0df053;
    background-color: #fff;
    transform: scale(1.1);
}

.contenedor_form {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px;
}

.form-filtros-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
}

.form-filtros {
    margin-bottom: 15px;
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-filtros label {
    color: var(--Platinum);
    margin-bottom: 5px;
    font-weight: bold;
}

.form-filtros select,
.form-filtros input {
    padding: 8px;
    width: 100%;
    max-width: 300px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.button-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.botonfiltros {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--Orange);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.botonfiltros:hover {
    background-color: #d68a00;
}

.Catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    width: 250px; /* Width for the product cards */
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.producto:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.producto-imagen {
    max-width: 100%;
    height: 300px;
    margin-bottom: 10px;
    object-fit: cover;
}

.producto h2 {
    font-size: 18px; /* Adjusted font size */
    margin: 10px 0;
    color: var(--oxford-blue);
}

.producto p {
    font-size: 14px; /* Adjusted font size */
    color: #555;
}

.parrafo-sin-productos {
    color: white;
    font-size: 40px;
}

.stock-container {
    margin-top: 10px;
}

.stock-container label {
    font-weight: bold;
    color: var(--oxford-blue);
}

.stock-container input {
    width: 50px;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-anadir-carrito {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: var(--Orange);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.btn-anadir-carrito:hover {
    background-color: #d68a00;
}

.footer-modern {
    background-color: var(--oxford-blue);
    color: var(--Platinum);
    padding: 30px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 7px;
    margin-right: 20px; 
    margin-left: 20px; /* Añadido para agregar espacio alrededor de cada sección */
}

.footer-title {
    font-size: 18px;
    color: var(--Orange);
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: var(--Platinum);
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: var(--Orange);
}

.footer-section .contact ul li {
    padding: 10px;
    display: flex;
    align-items: center;
}

.footer-section .contact ul li i {
    margin-right: 10px;
}

.footer-section .social .social-icons {
    display: flex;
    gap: 10px;
}

.footer-section .social .social-icons a {
    color: var(--Platinum);
    font-size: 18px;
    transition: color 0.3s;
}

.footer-section .social .social-icons a:hover {
    color: var(--Orange);
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid var(--Platinum);
    margin-top: 20px;
    font-size: 14px;
    color: var(--Platinum);
}
.producto-en-carrito {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.producto-detalles {
    display: flex;
    align-items: center;
    width: 100%;
}

.img-carrito {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.producto-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.linea-separadora {
    border: 0;
    height: 1px;
    background: #000; /* Cambia el color de fondo a negro */
    margin: 10px 0;
}

.wpp-boton2 i {
    color: #e7841a;
    position: fixed;
    font-size: 40px;
    line-height: 55px;
    bottom: 15px;
    right: 7px;
    z-index: 100;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wpp-boton2 i:hover {
    color: #0df053;
    transform: scale(1.1);
}
div.producto-detalles {
    border-bottom: 1px solid black;
}
.negrita {
    font-weight: bold;
}
.notification {
    display: none;
    background-color: var(--Platinum);
    color: var(--oxford-blue);
    border: 1px solid var(--Orange);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.notification a {
    color: var(--Orange);
    font-weight: bold;
    text-decoration: underline;
}

.notification .close-btn {
    background: none;
    border: none;
    color: var(--oxford-blue);
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}