.body-principal {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: #f7eadc;
}

.body-principal a{
    text-decoration: none;
}

.header {
    background-color:black;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100px;
    transition: transform 0.5s;
}

.header img:hover {
    transform: scale(1.1);
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    gap: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#f98f6f;
    padding: 20px;
    margin: 0 20px;
    border-radius: 8px;
    height: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 150px;
    text-align: center;
    transition: transform 0.3s;
}

.section img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.section span {
    font-size: 16px;
    color: white;
}

.section:hover {
    transform: translateY(-5px);
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.edit-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.edit-form input[type="text"], .edit-form input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
}

.edit-submit {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-submit:hover {
    background-color: #5a6268;
}

.provider-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.provider-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.provider-table th, .provider-table td {
    padding: 12px 15px;
}

.provider-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.provider-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.provider-table tbody tr:last-of-type {
    border-bottom: 2px solid #6c757d;
}

.provider-table tbody tr:hover {
    background-color: #f1f1f1;
}

.provider-edit-button {
    background-color: #009879;
    color: white;
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.provider-edit-button:hover {
    background-color: #5a6268;
    cursor: pointer;
}
